CONFIG_PATH="config/config.yaml"
DATABASE_URL="postgres://user:password@db:5432/user_advt?sslmode=disable"
SALT_HASH="change_me"
JWT_SECRET="change_me"
KAFKA_BROKERS="change_me"
KAFKA_SUBSCRIPTION_TOPIC="change_me"
